.member-portfolio {
	padding: 0.5em;
	font-family: sans-serif;
	position: relative;
}
.member-name {
	display: block;
	margin: 0;
	padding-top: 0.5em;
	padding-right: 120px;
	
	font-size: 1.6em;
	font-weight: bold;
}
.member-position {
	display: block;
	margin: 0;
	padding-right: 120px;
	
	font-size: 0.9em;
	font-style: italic;
}
.member-photo {
	float: right;
	
	padding: 3px;
	background: black;
	box-shadow: 0 2px 10px rgba(255, 255, 255, 0.75);
}
.member-info {
	display: block;
	clear: right;
	padding: 0.5em;
	
	font-family: serif;
	font-size: 1.1em;
}