---
language: en
layout: index
---
<div id="projects">
	<h2>Projects</h2>
	<ul>
		{% for project in site.categories.projects %}
		<li><a href=".{{ project.url }}"><strong>{{ project.name }}</strong></a>. {{ project.tagline }}</li>
		{% endfor %}
	</ul>
</div>

<div id="members">
	<h2>Members</h2>
	<ul>
		{% for member in site.categories.members %}
		<li><a href=".{{ member.url }}"><strong>{{ member.name }}</strong></a>, {{ member.position }}</li>
		{% endfor %}
	</ul>
</div>

<div id="publications">
	<h2>Publications</h2>
	<ul>
		{% for publication in site.categories.publications %}
		<li>{% include citation.html %}
		{% endfor %}
	</ul>
</div>

<div id="news">
	<h2>News feed</h2>
	<ul>
		{% for news in site.categories.news %}
		<li><a href=".{{ news.url }}">{{ news.title }}</a></li>
		{% endfor %}
	</ul>
</div>